@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Source+Sans+Pro&display=swap');

*{
    box-sizing: border-box;
}

body{
    background: rgb(236,236,247);
    background: linear-gradient(90deg, rgba(236,236,247,1) 0%, rgba(16,53,99,1) 0%, rgba(211,211,238,1) 100%);
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(236,236,247);
    background: linear-gradient(90deg, rgba(236,236,247,1) 0%, rgba(16,53,99,1) 0%, rgba(211,211,238,1) 100%); 
    border-bottom: 1px solid black;
}

.navbar a{
    margin: 15px;
    color: antiquewhite;
    font-size: 2rem ;
    text-decoration: none;
}

.navbar a:hover{
    color: rgb(231, 186, 186);
}   

.navbar .form{
    margin-right: 15px;
}
.navbar .form input{
    padding: 0.5rem 1.2rem;
    border-radius: 50px;
    color: black;
    border: 2px solid #1f2353;
    padding: 5px;
    width: 250px;
    font-family: "Poppins",sans-serif;
    background-color: transparent;
}

.navbar .form button{
    margin: 0;
    border: none;
    padding: 5px;
    cursor: pointer;
    background-color: #d3d3ee ;
    
}

main{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;

}

.movie{
    background-color: #373b69;
    border-radius: 6px;
    position: relative;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
    overflow: hidden;
    margin: 1rem;
    width: 300px;

}
.movie img{
    width: 100%;
}

.movie-info{
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-name{
    position: absolute;
    top: 1rem;
    width: 60%;
    background-color: #fff;
    padding: 0.25rem 1rem;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.movie-info h3{
    margin: 0;
}

.movie-info span{
    background-color: #1f2353;
    border-radius: 10px;
    font-weight: bold;
    padding: 8px 10px;
}

.movie-info span.green{
    color: rgb(49, 185, 49);
}
.movie-info span.orange{
    color: orange;
}
.movie-info span.red{
    color: red;
}